/* ====================================================================
 * Colours
 * ==================================================================== */

$g-color-brand:                     #112431;
$g-color-brand-2:                   #E1EFF8;
$g-color-light:                     #ffffff;

/* ====================================================================
 * Fonts
 * ==================================================================== */

$g-font-header:                     'Aleo', serif;
$g-font-copy:                       'Aleo', serif;


/* ====================================================================
 * Sizes
 * ==================================================================== */


/* ====================================================================
 * Media queries
 * ==================================================================== */
