/* ========================================================================== *\
 * Local variables
 * ========================================================================== */

$e-range-track-height:                        15px !default;
$e-range-track-radius:                        0px !default;
$e-range-track-color:                         $g-color-brand;

$e-range-thumb-background:                    $g-color-light;
$e-range-thumb-border-color:                  $g-color-brand;
$e-range-thumb-border-width:                  7px;
$e-range-thumb-radius:                        50px !default;
$e-range-thumb-size:                          30px !default;

/* ========================================================================== *\
 * Range input slider styles
 * ==========================================================================
 *
 * Styling for input[type="range"]
 *
 * -------------------------------------------------------------------------- */




input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $e-range-track-height;
  cursor: pointer;
  animate: 0.2s;
  background: $e-range-track-color;
  border-radius: $e-range-track-radius;
}
input[type=range]::-webkit-slider-thumb {
  border: $e-range-thumb-border-width solid $e-range-thumb-border-color;
  height: $e-range-thumb-size;
  width: $e-range-thumb-size;
  border-radius: $e-range-thumb-radius;
  background: $e-range-thumb-background;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $e-range-track-color;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: $e-range-track-height;
  cursor: pointer;
  animate: 0.2s;
  background: $e-range-track-color;
  border-radius: $e-range-track-radius;
}
input[type=range]::-moz-range-thumb {
  border: $e-range-thumb-border-width solid $e-range-thumb-border-color;
  height: $e-range-thumb-size;
  width: $e-range-thumb-size;
  border-radius: $e-range-thumb-radius;
  background: $e-range-thumb-background;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: $e-range-track-height;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $e-range-track-color;
  border-radius: $e-range-track-radius;
}
input[type=range]::-ms-fill-upper {
  background: $e-range-track-color;
  border-radius: $e-range-track-radius;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: $e-range-thumb-border-width solid $e-range-thumb-border-color;
  height: $e-range-thumb-size;
  width: $e-range-thumb-size;
  border-radius: $e-range-thumb-radius;
  background: $e-range-thumb-background;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $e-range-track-color;
}
input[type=range]:focus::-ms-fill-upper {
  background: $e-range-track-color;
}
